.about-me-card{
  display: flex;
  height: auto;
  align-items: center;
  margin: 5%;
}

p{
  font-size: large;
  font-weight: 300;
}

.image-container img{
  height: 200px;
  width: 400px;
  border-radius: 5px;
  }

  .info-card{
  margin: auto;
  margin-left: 10px;
  }

  @media(max-width:965px){
    .about-me-card{
      display: grid;
      margin: 2%;
    }
  }